@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&family=Rosario:wght@300;400;700&display=swap");

:root {
  --main-blue: #21304f;
  --main-green: #a5f812;
  --main-grey: #222222;
  --sub-green: rgba(165, 248, 18, 0.7);
  --sub-grey: #787878;
  --timeline-container: rgba(255, 255, 255, 0.2);
  --headings-font: "Montserrat", sans-serif;
  --contents-font: "Rosario", sans-serif;
  --memo-header: url(https://images.unsplash.com/photo-1505226755626-21044548b8aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=937&q=80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--contents-font);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: linear-gradient(black 40%, var(--main-blue));
}

h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: var(--main-green);
  font-family: var(--headings-font);
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
  h2 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: white;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--main-green);
  font-size: 2em;
  font-weight: 700;
  font-family: var(--headings-font);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 4px 8px 6px rgba(0, 0, 0, 0.3);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin-left: 10px;
}

.navbar ul li a {
  padding: 5px 15px;
  border-radius: 20px;
}

.inactive {
  color: white;
  opacity: 0.75;
}

.navbar ul li a:hover,
.active {
  color: var(--main-green);
  opacity: 1;
}

.menu-toggler {
  color: white;
}

.menu-toggler:active {
  color: var(--main-green);
}

.welcome-section {
  position: relative;
  width: 100%;
  height: 110vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, var(--main-blue), transparent);
  z-index: 1000;
}

#stars,
#moon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#moon {
  mix-blend-mode: screen;
  animation: rotation 24s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#main-txt {
  position: absolute;
  color: white;
  font-size: 7.5vw;
  transform: translateY(-40px);
  z-index: 9;
}

#sub-txt {
  position: absolute;
  color: white;
  opacity: 0.5;
  font-size: 3vw;
  font-style: italic;
  transform: translateY(40px);
  z-index: 8;
}

.nos-btn {
  padding: 8px 30px;
  transform: translateY(110px);
  background: var(--main-green);
  opacity: 0.5;
  color: var(--main-blue);
  border-radius: 40px;
  text-decoration: none;
  animation-name: nos-bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes nos-bounce {
  0% {
    transform: scale(1, 1) translateY(110px);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(110px);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(70px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(110px);
  }
  57% {
    transform: scale(1, 1) translateY(103px);
  }
  64% {
    transform: scale(1, 1) translateY(110px);
  }
  100% {
    transform: scale(1, 1) translateY(110px+0);
  }
}

.home {
  position: relative;
  padding: 100px;
  background: var(--main-blue);
}

.home p {
  font-size: 1.2em;
  color: white;
}

.member-list {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 50%;
  width: 100%;
  font-size: 20px;
  font-size: 7.5vh;
}

.member-text {
  display: inline-block;
  color: white;
}

.marquee-wrapper {
  width: 1000000px;
  transform: translateX(0px);
  /* animation: marqueeAnimation duration timing-function delay iteration-count direction fill-mode; */
}

.marquee {
  margin-right: 0px;
  float: left;
}

@keyframes marqueeAnimation-m1 {
  100% {
    transform: translateX(-6900px);
  }
}
@keyframes marqueeAnimation-m2 {
  100% {
    transform: translateX(-8700px);
  }
}
@keyframes marqueeAnimation-m3 {
  100% {
    transform: translateX(-9500px);
  }
}
@keyframes marqueeAnimation-m4 {
  100% {
    transform: translateX(-7100px);
  }
}
@keyframes marqueeAnimation-m5 {
  100% {
    transform: translateX(-5700px);
  }
}
@keyframes marqueeAnimation-m6 {
  100% {
    transform: translateX(-6200px);
  }
}

.stat {
  text-align: center;
  display: flex;
  justify-content: center;
}

.stat-number {
  font-size: 4.8em;
  color: var(--sub-green);
  font-family: var(--headings-font);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  width: 40%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--main-green);
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -20%;
}

.right {
  left: 20%;
}

.left::before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 22px;
  z-index: 1;
  right: 30px;
  border: medium solid var(--timeline-container);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--timeline-container);
}

.right::before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 22px;
  z-index: 1;
  left: 30px;
  border: medium solid var(--timeline-container);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--timeline-container) transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: var(--timeline-container);
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 26px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid var(--timeline-container);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--timeline-container) transparent transparent;
  }

  .left::after {
    left: 61px;
  }

  .right::after {
    left: 14px;
  }

  .right {
    left: 0%;
  }
}

.socials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 85vh;
}

.socials-link {
  width: 100%;
  max-width: 980px;
}

.socials-details {
  margin-top: 5px;
  padding: 5px 10px;
  transition: transform 0.3s ease-out;
}

.socials-details:hover {
  transform: translateY(8px);
}

.socials-link i {
  font-size: 3rem;
  color: whitesmoke;
}

.heading {
  position: relative;
  min-height: 100vh;
  padding: 200px 500px 5px 500px;
  background: linear-gradient(-45deg, #e1f812, #beff4e, var(--sub-green));
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 40% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 1200px) {
  .heading {
    padding: 40% 30%;
  }
}

.heading h1 {
  overflow: hidden;
  margin: 0 auto;
  border-right: 0.15em solid var(--main-blue);
  white-space: nowrap;
  animation: typing 2s steps(20, end), blink-cursor 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--main-blue);
  }
}

.books-section {
  margin-top: 40px;
  padding: 5px 100px;
  min-height: 60vh;
}

.books-section h3 {
  font-style: italic;
  color: var(--sub-green);
  margin-bottom: 24px;
}

.books-section p {
  color: #ccc;
  text-align: justify;
  text-justify: inter-word;
}

.books-section img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.m-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "photos"
    "cinema-1"
    "cinema-2";
}

.header {
  grid-area: header;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header-content .";
  background: var(--memo-header);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-content {
  grid-area: header-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-content h1 {
  font-size: 10vh;
  color: var(--main-grey);
  font-family: var(--headings-font);
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.3);
}

.header-content p {
  color: var(--sub-grey);
  max-width: 80vw;
  margin-bottom: 30px;
}

.m-nos-btn {
  width: fit-content;
  padding: 8px 30px;
  background: var(--main-green);
  opacity: 0.5;
  color: var(--main-blue);
  border-radius: 40px;
  text-decoration: none;
  animation-name: m-nos-bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes m-nos-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-12px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.photos,
.cinema-1,
.cinema-2 {
  /* display: grid;
  grid-template-columns: 10% 1fr 10%; */
  margin-bottom: 60px;
  padding: 30px 100px;
}

.photos {
  grid-area: photos;
  margin-top: 30px;
}

.cinema-1 {
  grid-area: cinema-1;
}

.cinema-2 {
  grid-area: cinema-2;
}

.thumbnail {
  margin: 15px;
}

.thumbnail:hover {
  transform: translateY(-4px);
}

.img-container:hover .overlay {
  opacity: 0.7;
}

.img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--main-green);
}

.caption {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  /* margin: 15px; */
}

.embed-responsive-item {
  /* width: 560px; */
  /* height: 315px; */
  width: 100%;
  height: 100%;
  /* display: block; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 15px;
}

/* Modifier class for 16:9 aspect ratio */
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

/* Modifier class for 4:3 aspect ratio */
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.footer {
  color: black;
  opacity: 0.3;
  text-align: center;
  background: transparent;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
}
